$red: #cb3333;
$green: #009900;
$white: #ffffff;
$lightGray: #e1e1e1;
$black: #333333;
$lightBlue: #DDF2F3;

$color_border: $lightGray;
$txtColor_footer: $black;
$txtColor_feature: $white;
$bgColor_feature_sale: $red;
$bgColor_feature_exclusive: $green;
$bgColor_filter: $lightBlue;