@import '../../assets/scss/grid.scss';
@import '../../assets/scss/colors.scss';
.flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: $bgColor_filter;
    height: 40px;
    padding: 0px 10px 0px 10px;

    span{
        font-size: 22px;
        color: $black;
        font-family: "Arial";
        font-weight: bold;
    }
  }